<template>
  <div class="grid grid-cols-4 gap-4">
    <left-side></left-side>
    <right-side></right-side>
  </div>
</template>

<script>
import LeftSide from "/src/components/LeftSide.vue";
import RightSide from "/src/components/RightSide.vue";

export default {
  name: "HelloWorld",

  components: {
    LeftSide,
    RightSide,
  },

  data() {
    return {}
  },
  methods: {},
}
</script>

<style scoped>

</style>


